@use "sass:color";

@font-face {
    font-family: "LEMONMILK";
    src: url("fonts/LEMONMILK-Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LEMONMILK";
    src: url("fonts/LEMONMILK-LightItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "LEMONMILK";
    src: url("fonts/LEMONMILK-Regular.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LEMONMILK";
    src: url("fonts/LEMONMILK-RegularItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

// Some general color declarations (Powered by paletton.com)
$Primary: #657884;
$Secondary: #cec19b;
$Tertiary: #cea89b;
$PrimaryFont: color.scale($Primary, $lightness: -30%);
$SecondaryFont: color.scale($Secondary, $lightness: -55%);
$TertiaryFont: color.scale($Tertiary, $lightness: -55%);
$SecondaryBg: color.scale($Secondary, $lightness: 25%, $alpha: -50%);
$TertiaryBg: color.scale($Tertiary, $lightness: 20%, $alpha: -30%);

@mixin hover-animated($color) {
    $name: hover-#{unique-id()};
    @keyframes #{$name} {
        from {
        }
        to {
            background-color: $color;
        }
    }
    animation: 1s ease-in 0s both $name;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

// General Elements
body {
    padding: 0rem 4rem;

    min-width: -moz-fit-content;
    min-width: -webkit-fit-content;
    min-width: fit-content;

    display: flex;
    flex-direction: column;

    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    background-color: $Primary;
    color: #111;
    letter-spacing: .05rem;
    word-spacing: .25rem;
}

header {

    font-size: large;
    font-weight: bold;

    background-color: rgba($color: #ffffff, $alpha: 0.9);

    border: 4px solid $Secondary;
    border-radius: 20px 20px 0px 0px;
    border-bottom: none;
    
    @include flexCol();
}

main {
    padding: 1rem;
    min-height: 65vh;

    background-color: rgba($color: #ffffff, $alpha: 0.9);

    border: 4px solid $Tertiary;
    
    @include flexCol();
}

footer {
    padding: 0.25rem 0 0 0;

    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    
    font-family: "LEMONMILK";
    font-weight: bold;
    
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    border: 4px solid $Secondary;
    border-radius: 0px 0px 20px 20px;
    border-top: none;

    p {
        text-align: center;
        margin: 0;
    }
}

section {
    @include flexCol();
}

div {
    padding: 0.5rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.flexRows {
    padding: 0.5rem;
    
    @include flexCol();
    
}

a {
    color: $TertiaryFont;
    font-weight: bold;
}

a:visited,
a:hover {
    color: $SecondaryFont;
}

//Nav Elements

nav {
    padding: .25rem;
    display: flex;
    justify-content: space-evenly;
    
    a:visited {
        color: $PrimaryFont;
    }
    
    a:hover {
        color: $Primary;
    }
    
    a {
        margin: 0.25rem .75rem;
        padding: .25rem;
        
        flex: 1;
        text-align: center;
        text-decoration: none;
        align-self: end;
        border: 1px solid $Primary;
        background-color: $TertiaryBg;
        border-radius: 20px;
    }
    
    a:only-of-type {
        height: 1.5rem;
    }
    button {
        margin: 0.25rem .75rem;
        padding: .25rem;
        
        height: 2.25em;
        min-width: 4.5rem;
        
        color: $PrimaryFont;
        font-size: 1rem;
        border-radius: 20px;

        align-self: end;
        flex: 1;
    }
    div{
        padding: .75rem 0 0 0;

        display: flex;
        justify-content: center;

        label {
            position: absolute;
            top: 5px;
        }

        a {
            margin: .5rem .15rem;
            padding: .25rem .5rem;
            
            border: 2px solid $Primary;
            background-color: $SecondaryBg;
            
            font-weight: 900;
            font-size: 2rem;
            outline: none;
            text-align: center;

            display: block;
            line-height: 75%;
        }
    }
}

// Radio navigation buttons
input[type=radio], input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
}

input[type=radio], input[type=checkbox] {
    margin: .5rem .15rem;

    align-self: center;
    
    border: 2px solid $Primary;
    border-radius: 20px;
    background-color: $SecondaryBg;
    
}
input[type=radio]::before, input[type=checkbox]::before {
    visibility: hidden;
    display: block;
    
    content: '!';
    font-family: "LEMONMILK";
    font-weight: 900;
    font-size: 2rem;
    color: $PrimaryFont;
    line-height: 50%;
}

input[type=checkbox]::before {
    content:"x";
}

input[type=radio]:checked::before, input[type=checkbox]:checked::before {
    visibility: visible;
}

input[type=radio]:hover,
input[type=radio]:focus,
input[type=checkbox]:hover,
input[type=checkbox]:focus {
    @include hover-animated($TertiaryBg)
}

//More specific elements
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0rem;
    
    font-family: "LEMONMILK";
    text-align: center;
    color: $PrimaryFont;
    font-weight: bold;

    border-top: 2px solid $Secondary;
    border-bottom: 2px solid $Tertiary;
}

sup {
    font-family: "LEMONMILK";
}

p {
    padding: 0.25rem 3rem;
    flex: 3;
    
    font-size: 1rem;

    line-height: 1.5rem;

    text-align: start;
    align-self: center;
}

p.disclaimer {
    flex: 1;

    font-style: italic;
}

// Notice is for the static site, we want to direct users back to the SPA version, and want this message to be unobtrusive.
p.notice {
    margin: 0;

    text-align: center;
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}

aside {
    margin: 0.5rem;
    padding: 0.5rem;

    flex: 1;
    @include flexCol();

    font-size: small;
    
    box-shadow: 0.25rem 0.25rem 1rem $Tertiary, -0.1em -0.1em $Primary;
    background-color: $SecondaryBg;
    border-radius: 20px;
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        font-style: italic;
        font-size: small;
    }
    
    p {
        padding: 0rem .5rem;
    }

    p::first-letter {
        font-size: medium;
    }
}

// Table elements

table {
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;

    font-family: "LEMONMILK";
    text-overflow: wrap;
    font-weight: bold;
    
    border: 5px solid $Primary;
    border-radius: 20px 0px 20px 0px;
    background: $SecondaryBg;

    tr {
        padding: 0.5rem;

        th {
            padding: 0.25rem 0.5rem;
            box-sizing: border-box;
            
            border-bottom: 1px solid black;
            
            a {
                text-decoration: none;
            }
        }

        td {
            padding: 0.25rem 0.5rem;
            box-sizing: border-box;

            text-align: center;
        }
    }
}

td[name="yes"] {
    background: rgba($color: $Tertiary, $alpha: 0.8);
}

td[name="no"] {
    background: rgba($color: $Primary, $alpha: 0.8);
}

td[name="na"] {
    background: rgba(128, 128, 128, 0.8);
}

ul, ol {
    flex: 1;

    font-family: "LEMONMILK";
    font-size: large;
    
    ul,
    ol {
        font-size: 90%;
    }
    
    li {
        padding: 0.5rem 0rem;
        
        line-height: 1.5;
    }
}

// Form Elements

form {
    padding: 2rem;
    margin: 1rem;
    box-sizing: border-box;

    font-family: "LEMONMILK";
    text-align: center;

    border: 5px solid $Primary;
    border-radius: 20px 0px 20px 0px;
    background: $SecondaryBg;
    
    fieldset {
        padding: 1rem;

        align-items: stretch;
        @include flexCol();

        legend {
            font-size: large;
            font-weight: bold;
            font-style: italic;
        }
    }
}

label {
    font-weight: bold;
}

.freeLabel {
    width: 100%;

    color: $PrimaryFont;
    text-align: center;
}

input {
    margin: 0.5rem;
    padding: 0.5rem;

    font-size: large;
}

input[type="number"], input[type="text"], input[type="datetime-local"], select {
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

select {
    margin: 0.5rem;
    padding: 0.5rem;

    box-sizing: border-box;
}

button {
    margin: 1rem auto;
    height: 3rem;

    font-family: "LEMONMILK", sans-serif;
    font-weight: bold;
    
    border: 1px solid $Primary;
    border-radius: 5px;
    background-color: $TertiaryBg;
}

button:hover {
    @include hover-animated($SecondaryBg);
}

input:hover,
select:hover,
input:focus,
select:focus {
    @include hover-animated(#eeeeee);
}

// MISC Elements

figure {
    margin: 1rem;
    padding: 1rem;

    background-color: $SecondaryBg;
    
    figcaption {
        text-align: end;
        cite {
            font-family: "LEMONMILK";
            font-size: small;
        }
    }
    
    blockquote {
        font-family: "LEMONMILK";
        font-size: large;
        font-style: bold;
        text-align: center;
    }
}

progress {
    width: 100%;
    height: 5rem;
}

meter {
    height: 5rem;
    width: 15rem;
}

details {
    padding: 0.25rem 0.5rem;
    width: 100%;

    color: $PrimaryFont;
    text-align: center;
    
    summary {
        font-family: "LEMONMILK";
        font-weight: bold;
        
        border-bottom: 1px solid $Primary;
    }

    p {
        margin: 0;
        padding: 0.5rem 3rem;

        text-align: center;
    }
}

address {
    text-align: center;
}

// Media compatibility rules

@media screen and (max-width: 800px) {
    iframe {
        width: 275px;
        height: 155px;
    }
    progress {
        width: 15rem;
    }
    table {
        margin: .5rem;
        padding: .5rem;
        tr {
            padding: .25rem;
            
        }
        th, td {
            padding: .2rem;
            font-size: small;
        }
        a {
            font-size: smaller;
        }
    }
}

@media all and (min-width: 1000px) {
    body {
        margin: 0% 10%;
    }
}
