{{ $this := .}}
<footer>
    <div>
        {{ if .Next }}
            <a title="Previous Page - {{ .Next.Title }}" href="{{ .Next.Permalink }}">{{ .Next.Title }}</a>
        {{ else }}
            <a title='About Page' href='{{ with .GetPage "about" }}{{ .Permalink }}{{ end }}'> About </a>
        {{ end }}
        {{ range (where .Site.RegularPages "Section" .Section) }}
            {{ if eq $this.Title .Title }}
                <a href='{{.Permalink}}' title="{{.Title}}" disabled="true" aria-disabled="true"> 0 </a>
            {{ else }}
                <a href='{{.Permalink}}' title="{{.Title}}"> o </a>
            {{ end }}
        {{ end }}
        {{ if .Prev }}
            <a title="Next Page - {{ .Prev.Title }}" href="{{ .Prev.Permalink }}">{{ .Prev.Title }}</a>
        {{ else }}
            <a title='Back to the Beginning?' href='{{ with .GetPage "index" }}{{ .Permalink }}{{ end }}'> Back to Foreword? </a>
        {{ end }}
    </div>
    <p aria-atomic="true" aria-live="polite">
        page <span id="currentPage">{{ .Weight }}</span> of {{ len (where .Site.RegularPages  "Section" .Section)  }} 
    </p>
</footer>