@font-face {
  font-family: "LEMONMILK";
  src: url("fonts/LEMONMILK-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LEMONMILK";
  src: url("fonts/LEMONMILK-LightItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "LEMONMILK";
  src: url("fonts/LEMONMILK-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LEMONMILK";
  src: url("fonts/LEMONMILK-RegularItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
body {
  padding: 0rem 4rem;
  min-width: -moz-fit-content;
  min-width: -webkit-fit-content;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #657884;
  color: #111;
  letter-spacing: 0.05rem;
  word-spacing: 0.25rem;
}

header {
  font-size: large;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
  border: 4px solid #cec19b;
  border-radius: 20px 20px 0px 0px;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

main {
  padding: 1rem;
  min-height: 65vh;
  background-color: rgba(255, 255, 255, 0.9);
  border: 4px solid #cea89b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  padding: 0.25rem 0 0 0;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  font-family: "LEMONMILK";
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
  border: 4px solid #cec19b;
  border-radius: 0px 0px 20px 20px;
  border-top: none;
}
footer p {
  text-align: center;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

div {
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.flexRows {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

a {
  color: #6d4435;
  font-weight: bold;
}

a:visited,
a:hover {
  color: #6d5f35;
}

nav {
  padding: 0.25rem;
  display: flex;
  justify-content: space-evenly;
}
nav a:visited {
  color: #47545c;
}
nav a:hover {
  color: #657884;
}
nav a {
  margin: 0.25rem 0.75rem;
  padding: 0.25rem;
  flex: 1;
  text-align: center;
  text-decoration: none;
  align-self: end;
  border: 1px solid #657884;
  background-color: rgba(216, 185, 175, 0.7);
  border-radius: 20px;
}
nav a:only-of-type {
  height: 1.5rem;
}
nav button {
  margin: 0.25rem 0.75rem;
  padding: 0.25rem;
  height: 2.25em;
  min-width: 4.5rem;
  color: #47545c;
  font-size: 1rem;
  border-radius: 20px;
  align-self: end;
  flex: 1;
}
nav div {
  padding: 0.75rem 0 0 0;
  display: flex;
  justify-content: center;
}
nav div label {
  position: absolute;
  top: 5px;
}
nav div a {
  margin: 0.5rem 0.15rem;
  padding: 0.25rem 0.5rem;
  border: 2px solid #657884;
  background-color: rgba(218, 209, 180, 0.5);
  font-weight: 900;
  font-size: 2rem;
  outline: none;
  text-align: center;
  display: block;
  line-height: 75%;
}

input[type=radio], input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
}

input[type=radio], input[type=checkbox] {
  margin: 0.5rem 0.15rem;
  align-self: center;
  border: 2px solid #657884;
  border-radius: 20px;
  background-color: rgba(218, 209, 180, 0.5);
}

input[type=radio]::before, input[type=checkbox]::before {
  visibility: hidden;
  display: block;
  content: "!";
  font-family: "LEMONMILK";
  font-weight: 900;
  font-size: 2rem;
  color: #47545c;
  line-height: 50%;
}

input[type=checkbox]::before {
  content: "x";
}

input[type=radio]:checked::before, input[type=checkbox]:checked::before {
  visibility: visible;
}

input[type=radio]:hover,
input[type=radio]:focus,
input[type=checkbox]:hover,
input[type=checkbox]:focus {
  animation: 1s ease-in 0s both hover-ugfnp6d;
}
@keyframes hover-ugfnp6d {
  to {
    background-color: rgba(216, 185, 175, 0.7);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0rem;
  font-family: "LEMONMILK";
  text-align: center;
  color: #47545c;
  font-weight: bold;
  border-top: 2px solid #cec19b;
  border-bottom: 2px solid #cea89b;
}

sup {
  font-family: "LEMONMILK";
}

p {
  padding: 0.25rem 3rem;
  flex: 3;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: start;
  align-self: center;
}

p.disclaimer {
  flex: 1;
  font-style: italic;
}

p.notice {
  margin: 0;
  text-align: center;
  font-size: smaller;
  font-style: italic;
  font-weight: normal;
}

aside {
  margin: 0.5rem;
  padding: 0.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: small;
  box-shadow: 0.25rem 0.25rem 1rem #cea89b, -0.1em -0.1em #657884;
  background-color: rgba(218, 209, 180, 0.5);
  border-radius: 20px;
}
aside h1,
aside h2,
aside h3,
aside h4,
aside h5,
aside h6 {
  margin: 0;
  font-style: italic;
  font-size: small;
}
aside p {
  padding: 0rem 0.5rem;
}
aside p::first-letter {
  font-size: medium;
}

table {
  padding: 1rem;
  margin: 1rem;
  box-sizing: border-box;
  font-family: "LEMONMILK";
  text-overflow: wrap;
  font-weight: bold;
  border: 5px solid #657884;
  border-radius: 20px 0px 20px 0px;
  background: rgba(218, 209, 180, 0.5);
}
table tr {
  padding: 0.5rem;
}
table tr th {
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}
table tr th a {
  text-decoration: none;
}
table tr td {
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  text-align: center;
}

td[name=yes] {
  background: rgba(206, 168, 155, 0.8);
}

td[name=no] {
  background: rgba(101, 120, 132, 0.8);
}

td[name=na] {
  background: rgba(128, 128, 128, 0.8);
}

ul, ol {
  flex: 1;
  font-family: "LEMONMILK";
  font-size: large;
}
ul ul,
ul ol, ol ul,
ol ol {
  font-size: 90%;
}
ul li, ol li {
  padding: 0.5rem 0rem;
  line-height: 1.5;
}

form {
  padding: 2rem;
  margin: 1rem;
  box-sizing: border-box;
  font-family: "LEMONMILK";
  text-align: center;
  border: 5px solid #657884;
  border-radius: 20px 0px 20px 0px;
  background: rgba(218, 209, 180, 0.5);
}
form fieldset {
  padding: 1rem;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
form fieldset legend {
  font-size: large;
  font-weight: bold;
  font-style: italic;
}

label {
  font-weight: bold;
}

.freeLabel {
  width: 100%;
  color: #47545c;
}

input {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: large;
}

input[type=number], input[type=text], input[type=datetime-local], select {
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

select {
  margin: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

button {
  margin: 1rem auto;
  height: 3rem;
  font-family: "LEMONMILK", sans-serif;
  font-weight: bold;
  border: 1px solid #657884;
  border-radius: 5px;
  background-color: rgba(216, 185, 175, 0.7);
}

button:hover {
  animation: 1s ease-in 0s both hover-ugfnp6e;
}
@keyframes hover-ugfnp6e {
  to {
    background-color: rgba(218, 209, 180, 0.5);
  }
}

input:hover,
select:hover,
input:focus,
select:focus {
  animation: 1s ease-in 0s both hover-ugfnp73;
}
@keyframes hover-ugfnp73 {
  to {
    background-color: #eeeeee;
  }
}

figure {
  margin: 1rem 4rem;
  padding: 1rem 2rem;
  background-color: rgba(218, 209, 180, 0.5);
}
figure figcaption {
  text-align: end;
}
figure figcaption cite {
  font-family: "LEMONMILK";
  font-size: small;
}
figure blockquote {
  font-family: "LEMONMILK";
  font-size: large;
  font-style: bold;
  text-align: center;
}

progress {
  width: 100%;
  height: 5rem;
}

meter {
  height: 5rem;
  width: 15rem;
}

details {
  padding: 0.25rem 0.5rem;
  width: 100%;
  color: #47545c;
  text-align: center;
}
details summary {
  font-family: "LEMONMILK";
  font-weight: bold;
  border-bottom: 1px solid #657884;
}
details p {
  margin: 0;
  padding: 0.5rem 3rem;
  text-align: center;
}

address {
  text-align: center;
}

@media all and (max-width: 750px) {
  iframe {
    width: 275px;
    height: 155px;
  }

  progress {
    width: 15rem;
  }

  table {
    font-size: smaller;
  }
  table a {
    font-size: medium;
  }
}
@media all and (min-width: 1000px) {
  body {
    margin: 0% 10%;
  }
}

/*# sourceMappingURL=style.css.map */
