@use "sass:color";

@font-face {
    font-family: "LEMONMILK";
    src: url("fonts/LEMONMILK-Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LEMONMILK";
    src: url("fonts/LEMONMILK-LightItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "LEMONMILK";
    src: url("fonts/LEMONMILK-Regular.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LEMONMILK";
    src: url("fonts/LEMONMILK-RegularItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

// Some general color declarations (Powered by paletton.com)
$Primary: #657884;
$Secondary: #cec19b;
$Tertiary: #cea89b;
$PrimaryFont: color.scale($Primary, $lightness: -30%);
$SecondaryFont: color.scale($Secondary, $lightness: -55%);
$TertiaryFont: color.scale($Tertiary, $lightness: -55%);
$SecondaryBg: color.scale($Secondary, $lightness: 25%, $alpha: -50%);
$TertiaryBg: color.scale($Tertiary, $lightness: 20%, $alpha: -30%);

@mixin hover-animated($color) {
    $name: hover-#{unique-id()};
    @keyframes #{$name} {
        from {
        }
        to {
            background-color: $color;
        }
    }
    animation: 1s ease-in 0s both $name;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

// Big general Elements.  We'll use flex column on body, and use divs to create rows.
body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin: 0% auto;
    padding: 0rem 4rem;
    background-color: $Primary;
    color: #111;
    min-width: -moz-fit-content;
    min-width: -webkit-fit-content;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
}

header {
    font-size: large;
    font-style: bold;
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    border: 4px solid $Secondary;
    padding: 0.5rem 1rem;
    border-radius: 20px 20px 0px 0px;
    border-bottom: none;
    @include flexCol();
}

main {
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    padding: 0.5rem 1rem;
    border: 4px solid $Tertiary;
    min-height: 65vh;
    @include flexCol();
}

footer {
    font-family: "LEMONMILK";
    font-weight: bold;
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    border: 4px solid $Secondary;
    padding: 0.5rem 0 0 0;
    border-radius: 0px 0px 20px 20px;
    border-top: none;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    p {
        text-align: center;
        margin: 0;
    }
}

section {
    @include flexCol();
}

div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.flexRows {
    @include flexCol();
    margin: auto;
    padding: 0.5rem 1rem;
}

a {
    color: $TertiaryFont;
    font-weight: bold;
}
a:visited,
a:hover {
    color: $SecondaryFont;
}

//Nav Elements

nav {
    display: flex;
    justify-content: space-evenly;
    a:visited {
        color: $PrimaryFont;
    }
    a:hover {
        color: $Primary;
    }
    a {
        font-style: "LEMONMILK";
        flex: 1;
        text-align: center;
        text-decoration: none;
        align-self: end;
        border: 1px solid $Primary;
        background-color: $TertiaryBg;
        border-radius: 20px;
        margin: 0.25rem .75rem;
        padding: .25rem;
    }
    a:only-of-type {
        height: 1.5rem;
        width: 100%;
    }
    button {
        font-style: "LEMONMILK";
        color: $PrimaryFont;
        border-radius: 20px;
        height: 2.25em;
        min-width: 4rem;
        margin: 0.25rem .75rem;
        padding: .25rem;
        align-self: end;
        flex: 1;
    }
    div{
        display: flex;
        justify-content: center;
        padding: .75rem 0 0 0;
        label {
            position: absolute;
            top: 5px;
        }
        a {
            outline: none;
            text-align: center;
            color: $PrimaryFont;
            border: 2px solid $Primary;
            background-color: $SecondaryBg;
            margin: .5rem .15rem;
            font-weight: 900;
            font-size: 2rem;
            color: $PrimaryFont;
            display: block;
            line-height: 75%;
            padding: .25rem .5rem;
        }
    }
}

input[type=radio], input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
}
input[type=radio], input[type=checkbox] {
    border: 2px solid $Primary;
    border-radius: 20px;
    background-color: $SecondaryBg;
    margin: .5rem .15rem;
    align-self: center;
}
input[type=radio]::before, input[type=checkbox]::before {
    content: '!';
    font-family: 'LEMONMILK';
    font-weight: 900;
    font-size: 2rem;
    color: $PrimaryFont;
    visibility: hidden;
    display: block;
    line-height: 50%;
}
input[type=radio]:checked::before, input[type=checkbox]:checked::before {
    visibility: visible;
}
input[type=radio]:hover,
input[type=radio]:focus,
input[type=checkbox]:hover,
input[type=checkbox]:focus {
    @include hover-animated($TertiaryBg)
}

//More specific elements
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "LEMONMILK";
    text-align: center;
    color: $PrimaryFont;
    font-weight: bold;
    margin-bottom: 0rem;
    border-top: 2px solid $Secondary;
    border-bottom: 2px solid $Tertiary;
}

sup {
    font-family: "LEMONMILK";
}
p {
    text-align: start;
    flex: 3;
    padding: 0.25rem 3rem;
    align-self: center;
    line-height: 1.3rem;
}
p.disclaimer {
    font-style: italic;
    flex: 1;
}

// Notice is for the static site, we want to direct users back to the SPA version, and want this message to be unobtrusive.
p.notice {
    margin-top: 0;
    font-size: smaller;
    font-style: italic;
}

aside {
    @include flexCol();
    flex: 1;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    font-size: small;
    box-shadow: 0.25rem 0.25rem 1rem $Tertiary, -0.1em -0.1em $Primary;
    background-color: $SecondaryBg;
    border-radius: 20px 20px 20px 20px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-style: italic;
        font-size: small;
        margin-bottom: 0;
    }
    p {
        padding: 0rem .5rem;
    }
    p::first-letter {
        font-size: medium;
    }
}

table {
    padding: 1rem 1rem;
    margin: 1rem auto;
    box-sizing: border-box;
    text-overflow: wrap;
    border: 5px solid $Primary;
    border-radius: 20px 0px 20px 0px;
    background: $SecondaryBg;
    font-weight: bold;
    tr {
        padding: 0.5rem 0.5rem;
        th {
            font-family: "LEMONMILK";
            padding: 0.25rem 0.5rem;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            a {
                text-decoration: none;
            }
        }
        td {
            padding: 0.25rem 0.5rem;
            text-align: center;
            box-sizing: border-box;
        }
    }
}

td[name="yes"] {
    background: rgba($color: $Tertiary, $alpha: 0.8);
}

td[name="no"] {
    background: rgba($color: $Primary, $alpha: 0.8);
}

td[name="na"] {
    background: rgba(128, 128, 128, 0.8);
}

ul,
ol {
    font-family: "LEMONMILK";
    font-size: large;
    flex: 1;
    ul,
    ol {
        font-size: 90%;
    }
    li {
        padding: 0.5rem 0rem;
        line-height: 1.5;
    }
}

form {
    padding: 2rem 2rem;
    margin: 1rem 1rem;
    border: 5px solid $Primary;
    border-radius: 20px 0px 20px 0px;
    background: $SecondaryBg;
    box-sizing: border-box;
    fieldset {
        @include flexCol();
        padding: 1rem 1rem;
        align-items: stretch;
        legend {
            font-size: large;
            font-weight: bold;
            font-style: italic;
        }
    }
}

legend {
    font-family: "LEMONMILK", sans-serif;
}

label {
    font-family: "LEMONMILK", sans-serif;
    font-weight: bold;
    text-align: center;
}
.freeLabel {
    width: 100%;
    
    color: $PrimaryFont;
}

input {
    margin: 0.5rem 0rem;
    padding: 0.5rem 0.5rem;
    font-size: large;
}

input[type="number"],
input[type="text"],
input[type="datetime-local"],
select {
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

select {
    margin: 0.5rem 0rem;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
}

button {
    margin: 1rem auto;
    height: 3rem;
    border: 1px solid $Primary;
    border-radius: 5px;
    background-color: $TertiaryBg;
    font-family: "LEMONMILK", sans-serif;
    font-weight: bold;
}

button:hover {
    @include hover-animated($SecondaryBg);
}

.fancyBtn {
    flex: 1;
    margin: 0;
}


textarea {
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    background-color: $TertiaryBg;
    width: 80%;
    height: 4rem;
    font-size: x-large;
    font-weight: bold;
}

input:hover,
select:hover,
input:focus,
select:focus {
    @include hover-animated(#eeeeee);
}

figure {
    margin: 1rem 4rem;
    padding: 1rem 2rem;
    background-color: $SecondaryBg;
    figcaption {
        text-align: end;
        cite {
            font-family: "LEMONMILK";
            font-size: small;
        }
    }
    blockquote {
        font-family: "LEMONMILK";
        font-size: large;
        font-style: bold;
        text-align: center;
    }
}

progress {
    width: 100%;
    height: 5rem;
}

meter {
    height: 5rem;
    width: 15rem;
}
details {
    width: 100%;
    padding: 0.25rem 0.5rem;
    color: $PrimaryFont;
    summary {
        font-family: "LEMONMILK";
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid $Primary;
    }
    p {
        text-align: center;
        margin: 0;
        padding: 0.5rem 3rem;
    }
}

address {
    text-align: center;
}

// I'm not entirely sure why, but media stuff only seems to activate at the end of a file.
@media all and (max-width: 750px) {
    iframe {
        width: 275px;
        height: 155px;
    }
    progress {
        width: 15rem;
    }
    table {
        font-size: smaller;
        a {
            font-size: medium;
        }
    }
}

@media all and (min-width: 1000px) {
    body {
        margin: 0% 10%;
    }
}
