{{/*  <aside>
    <h3>{{ page.aside.header }}</h3>
    {%- if page.aside.image -%}
        {% include image.html image=page.aside.image alt=page.aside.alt %}
    {%- endif -%}
    <p>{{ page.aside.content }}</p>
</aside>



<!--
    Asides are just general unrelated information.  In this website, we just use them 
    for little tips, but we also used an image in one, so we'll have this general purpose
    include to style them in this fashion.

    Note: in this version of Heckin' website, aside's are assumed to be called in a diatribe, and all diatribes
    are direct children of the h1 header.  So it is semantically fine to mandate as an h3,
    as long as no one does anything fancy like call an aside inside some other headed area.


-->  */}}