{{/*  <!--
    Image is a little strange, but we can specify an image based on its name (as long as 
    the mobile versions comply with the naming convention *name*Mobile.*extension*) and then populate
    all the the various variants.  Full customization would probably be providing variants for different
    breakpoints, but for now, we'll just keep the heckin' ideal of 800px width resizes.
-->
<figure>
    <picture>
        <source srcset='{{ .Site.BaseURL }}assets/media/{{ .Get "image" }}Mobile.webp' type='image/webp' media='(max-width: 800px)' />
        <source srcset='{{ .Site.BaseURL }}assets/media/{{ .Get "image" }}Mobile.avif' type='image/avif' media='(max-width: 800px)' />
        <source srcset='{{ .Site.BaseURL }}assets/media/{{ .Get "image" }}Mobile.png' media='(max-width: 800px)' />
        <source srcset='{{ .Site.BaseURL }}assets/media/{{ .Get "image" }}.webp' type='image/webp' />
        <source srcset='{{ .Site.BaseURL }}assets/media/{{ .Get "image" }}.avif' type='image/avif' />
        <img src='{{ .Site.BaseURL }}assets/media/{{ .Get "image" }}.png' alt='{{include.alt}}' />
        {% if include.caption %}
            <figcaption>{{include.caption}}</figcaption>
        {% endif %}
    </picture>
    </figure>  */}}

<figure>
    <picture>
        <source srcset='images/{{ .Get "image" }}Mobile.webp' type='image/webp' media='(max-width: 800px)' />
        <source srcset='images/{{ .Get "image" }}Mobile.avif' type='image/avif' media='(max-width: 800px)' />
        <source srcset='images/{{ .Get "image" }}Mobile.png' media='(max-width: 800px)' />
        <source srcset='images/{{ .Get "image" }}.webp' type='image/webp' />
        <source srcset='images/{{ .Get "image" }}.avif' type='image/avif' />
        <img src='images/{{ .Get "image" }}.png' alt='{{ .Get "alt" }}' />
    </picture>
    {{ if .Get "caption" }}
        <figcaption>{{ .Get "caption" }}</figcaption>
    {{ end }}
</figure>